body {
  font-family: 'Montserrat', sans-serif;
}

:root{
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
  --main-color: rgb(0,0,0);
  --second-color: rgb(2,65,64);
  --third-color: rgb(8,128,128);
  --accent-color: yellow;
}

.text-main {
  color : var(--main-color);
}

.text-secondary {
  color : var(--second-color);
}

.text-third { 
  color: var(--third-color);
}

.text-accent{
  color: var(--accent-color);
}

.bg-main {
  background-color : var(--main-color);
}

.bg-secondary {
  background-color : var(--second-color);
}

.bg-third { 
  background-color: var(--third-color);
}

.bg-accent{
  background-color: var(--accent-color);
}


.btnvisita{
   text-align: center;
   background-color: black;
   color: white;
   padding: 10px 40px;
   border: none;
   font-size: 20px;
   position: relative;
  overflow: hidden;
}

.btnvisita::before {
  content: '';
  position: absolute;
  padding: 15px 30px; 
  background-color: var(--third-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.btnvisita:hover::before {
  transform: translateX(0);
}

.btnvisita span {
  position: relative;
  display: block;
  z-index: 1;
  transition: color 0.2s ease-in;
}

.btnvisita:hover span {
    color: white;
    animation: animationBtnSwap 0.4s;
}

@keyframes animationBtnSwap {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    30% {
      transform: translateX(20px);
      opacity: 0;
    }

    50% {
      transform: translateX(-20px);
      opacity: 0;
    }

    100% {
      transform: translate3d(0);
      opacity: 1;
    }
}



.btnBuy{
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: none;
  font-size: medium;
  border-bottom: 3px solid var(--third-color);
  border-right: 3px solid var(--third-color);
}

.foothead {
  background: linear-gradient(0deg, rgba(8,128,128,1) 0%, rgba(255,255,255,1) 100%);
}

.card-contact {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.lineafondo {
  border-bottom: 2px solid var(--third-color);
}

.borderItem {
  padding-bottom: 1px;
  color: hsl(222, 25%, 14%);
  position: relative;
}

.borderItem::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: rgb(10,128,128);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.borderItem:hover::after {
  opacity: 1;
  transform: translateY(0);
}

